.allMarked{
    padding: 6px 14px;
    font-size:12px;
      background-color: transparent;
      border: 1px solid #6877eb;
      box-sizing: border-box;
      color: #00132C;
     border-radius: 25px;
      /* padding: 16px 23px; */
      position: relative;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
    }
    
    .allMarked::before {
      background-color: #FF562D;
      content: "📍";
      border-radius: 25px;
      height: calc(100% + 3px);
      position: absolute;
      right: -7px;
      top: -9px;
      width: 100%;
      z-index: -1;
    }
    
.tagsActive{
    padding: 6px 14px;
    font-size:12px;
      background-color: transparent;
      border: 1px solid #6877eb;
      box-sizing: border-box;
      color: #00132C;
     border-radius: 25px;
      /* padding: 16px 23px; */
      position: relative;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
    }
    
    .allMarked::before {
      background-color: #D5EDF6;
      content: "📍";
      border-radius: 25px;
      height: calc(100% + 3px);
      position: absolute;
      right: -7px;
      top: -9px;
      width: 100%;
      z-index: -1;
    }
    
