@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 


*{
  font-family: 'Poppins', sans-serif;
}


h1 {
  font-family: "Pacifico", cursive;
  color: #384D62;
  
}

h2{
  font-size: medium;
  color: #384D62;

}
